<h1> <%= @dog.name %> </h1>

<p> This dog is <%= @dog.age %> years old</p>
<p> Its breed is <%= @dog.breed %></p>

<a href="/dogs/<%= @dog.id %>/edit"> Edit that dog</a>

<hr>

<a href="/dogs"> go back to see all dogs</a>
